<section id="kycapp">
  
  <header id="header">
    <h1>Know Yo City</h1>
    <!-- form to select city and neighborhood -->
    <div id="challenge-form">
      <select name="neighborhood" id="challenge-neighborhood">
        <option value="default" selected>Select a neighborhood</option>
        <option value="east_village">East Village</option>
        <option value="flatiron_district">Flatiron District</option>
      </select>

      <select name="place_type" id="challenge-place-type">
        <option value="bar">Bar</option>
        <option value="restaurant">Restaurant</option>
        <option value="night_club">Night Club</option>
        <option value="cafe">Cafe</option>
      </select>

      <button id='play-button'>Play!</button>
    </div> <!-- END CHALLENGE-FORM -->
    <div id='game-header'>
      <h2></h2>
    </div>
  </header> <!-- END HEADER -->

  <section id="main">
    
    <div id="left-pane">
      <div id="place-view"></div>
      <div id="chart"></div>
    </div>
    
    <div id="right-pane">
      <div id="map-canvas"></div> <!-- aka todo-list -->
    </div>
  </section> <!-- END MAIN -->

  <footer id="footer"></footer>

</section> <!-- END KYCAPP -->

<script type="text/template" id="place-template">
  
  <div class="view">
    <h2><%%= name %></h2>
    <img src="<%%= photo_url %>" alt="">
  </div>
  
</script>



