/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

html { 
  height: 100%;
}

body { 
  height: 100%;
  margin: 0; 
  padding: 0;
  font-family: 'Helvetica Neue', sans-serif;
}

#header {
  text-align: center;
}

#kycapp {
  height: 100%;
  width: 100%;
}

#main {
  height: 100%;
  width: 90%;
  margin: 0 auto;
}

#left-pane {
  float: left;
  margin-right: 20px;
  width: 400px;
}

#right-pane {
  float: left;
  display: block;
  width: 800px;
  position: relative;
}

#map-canvas { 
  width: 750px;
  border: 2px solid indianred;
}

#game-header {
  text-align: center;
}

#place-view {
  height: 300px;
  display: block;
  margin-bottom: 20px;
  border: 2px solid indianred;
  text-align: center;
}

#place-view h2 {
  text-align: center;
}

#place-view > img {
  margin: 0 auto;
}

#chart {
  border: 2px solid indianred;
  padding-bottom: 20px;
}

#chart h2 {
  text-align: center;
}

#chart div {
  font: 14px sans-serif;
  background-color: steelblue;
  text-align: right;
  padding: 3px;
  margin: 2px;
  color: white;
  vertical-align: top;
}

#results-view {
  display: inline-block;
  border: 2px solid green;
  position: absolute;
  top: 37%;
  left: 29%;
  padding: 20px;
  background-color: rgba( 100, 0, 0, 0.8 );
  color: whitesmoke;
}

#next-button {
  margin-top: 20px;
  padding: 10px;
  font-size: 18px;
}

#nice-guess {
  margin-bottom: 10px;
}

