/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

html { 
  height: 100%;
}

body { 
  height: 100%;
  margin: 0; 
  padding: 0;
  font-family: 'Helvetica Neue', sans-serif;
  /*background-color: green;*/
}

#header {
  /*position: relative;*/
}

#kycapp {
  height: 100%;
  width: 100%;
}

#game-view {
  height: 100%;
  width: 90%;
  margin: 0 auto;
}

#left-pane {
  float: left;
  margin-right: 20px;
  width: 400px;
}

#right-pane {
  float: left;
  display: block;
  width: 800px;
  position: relative;
}

#map-canvas { 
  width: 750px;
  border: 3px solid steelblue;
  border-radius: 20px;
}

#game-header {
  text-align: center;
}

#game-header span {
  color: indianred;
  font-size: 1.5em;
}

#place-view {
  height: 300px;
  display: block;
  margin-bottom: 20px;
  border: 3px solid steelblue;
  border-radius: 25px;
  text-align: center;
}

#place-view h2 {
  text-align: center;
  color: steelblue;
}

#place-view > img {
  margin: 0 auto;
  border: 2px solid steelblue;
  border-radius: 20px;
}

#chart {
  border: 3px solid steelblue;
  border-radius: 25px;
  padding-bottom: 20px;
}

#left-score {
  text-align: center;
  /*border: 1px solid teal;*/
  width: 100px;
  display: inline-block;
  margin-left: 25px;
  margin-top: 10px;
  margin-bottom: 10px;
}

#mid-score {
  text-align: center;
  /*border: 1px solid teal;*/
  width: 100px;
  font-size: 24px;
  display: inline-block;
  margin-left: 25px;
  vertical-align: top;
  margin-top: 30px;
  font-weight: bold;
  color: steelblue;
}

#right-score {
  text-align: center;
  /*border: 1px solid teal;*/
  width: 100px;  
  display: inline-block;
  margin-left: 25px;
  margin-top: 10px;
}

.score-number {
  font-size: 40px;
  color: steelblue;
  margin-bottom: -10px;
}

.score-header {
  color: gray;
}

.score-bar {
  font: 14px sans-serif;
  background-color: steelblue;
  text-align: right;
  padding: 3px;
  margin: 2px;
  margin-left: 14px;
  color: white;
  vertical-align: top;
  border-radius: 7px;
  padding-right: 6px;
}

#results-view {
  display: inline-block;
  border: 3px solid whitesmoke;
  position: absolute;
  top: 37%;
  left: 29%;
  padding: 20px;
  background-color: rgba( 0, 150, 220, 0.4 );
  color: whitesmoke;
  letter-spacing: 2px;
}

#results-view.game-over {
  background-color: rgba( 205, 20, 20, 0.7);
  border: 3px solid whitesmoke;
}

#next-button, #play-again-button {
  margin-top: 20px;
  padding: 10px;
  font-size: 18px;
}

div#play-again-button {
  -webkit-appearance: none;
  padding: 10px;
  font-size: 16px;
  background-color: steelblue;
  color: whitesmoke;
  width: 110px;
  font-weight: bold;
  display: block;
  margin: 0 auto;
  margin-top: 20px;
  text-align: center;
  border-radius: 5px;
  border: 2px solid whitesmoke;
}

div#play-again-button:hover {
  cursor: pointer;
}

#nice-guess {
  margin-bottom: 10px;
}

#blank-div {
  position: absolute;
  top: 122px;
  left: 0;
  width: 750px;
  height: 500px;
  border: 3px solid steelblue;
  background-color: rgba( 0, 0, 0, 0.5 );
  border-radius: 20px;
}

#challenge-neighborhood, #challenge-place-type {
  -webkit-appearance: none;
  padding: 10px;
  font-size: 16px;
  background-color: rgba(0,0,0,0);
  color: whitesmoke;
  width: 250px;
  border: none;
  border-radius: 20px;
  position: relative;
  z-index: 2;
}

div#play-button {
  -webkit-appearance: none;
  padding: 10px;
  font-size: 16px;
  background-color: steelblue;
  color: whitesmoke;
  width: 85px;
  display: block;
  margin: 0 auto;
  margin-top: 20px;
  text-align: center;
  border: 2px solid whitesmoke;
  border-radius: 5px;
}

div#play-button:hover {
  cursor: pointer;
}

.challenge-select-wrapper {
  display: inline-block;
  width: 248px;
  border: 2px solid whitesmoke;
  background-color: steelblue;
  border-radius: 20px;
  position: relative;
  z-index: 0;
}

div#challenge-form {
  margin: 0 auto;
  width: 508px;
  position: absolute;
  left: 122px;
  top: 200px;
}

.challenge-arrow {
  z-index: 1;
  right: 11px;
  top: 10px;
  position: absolute;
}

.challenge-arrow > i {
  vertical-align: middle;
  color: whitesmoke;
}

#navbar {
  width: 100%;
  float: left;
  margin: 0 0 3em 0;
  padding: 0;
  list-style: none;
  background-color: steelblue;
  /*background-image: linear-gradient(whitesmoke, steelblue);*/
}

#navbar li {
  float: right;
}

#navbar li a {
  display: block;
  padding: 15px 15px;
  text-decoration: none;
  font-weight: bold;
  color: whitesmoke;
  border-left: 1px solid whitesmoke;
  letter-spacing: 2px;
}

#navbar li#logo {
  float: left;
  font-size: 40px;
  padding-left: 10px;
}

#navbar li#logo #title-intro {
  font-size: 12px;
  font-style: italic;
}

#navbar li#logo a {
  padding: 0;
  border-left: none;
}

span.title-small-letters {
  font-size: 28px;
}

#right-pane h2 {
  margin-top: 0;
  color: steelblue;
}

div#landing-page-map {
  display: block;
  height: 500px;
  width: 750px;
  margin: 0 auto;
  position: relative;
}

div#landing-blank-div {
  position: absolute;
  top: 101px;
  left: 2px;
  width: 750px;
  height: 500px;
  border: 3px solid steelblue;
  background-color: rgba( 0, 0, 0, 0.5 );
  border-radius: 20px;
}

div#location-header {
  /*color: gray;*/
}

div#click-map-header {
  /*color: gray;*/
}

span.score-cap {
  color: gray;
  font-size: 16px;
}

div#save-score-button {
  -webkit-appearance: none;
  padding: 8px;
  font-size: 16px;
  background-color: whitesmoke;
  color: red;
  width: 85px;
  display: inline-block;
  margin: 0 auto;
  text-align: center;
  border: 2px solid whitesmoke;
  border-radius: 5px;
}

div#save-score-button:hover {
  cursor: pointer;
}

input#player-name-input {
  font-size: 20px;
  padding: 5px;
  margin-right: 15px;
}

div#name-input-label {
  margin-top: 30px;
  margin-bottom: 7px;
}

#leaderboard {
  display: none;
}

#save-notice {
  margin-top: 20px;
  text-align: center;
}

table {
  /*border: 2px solid steelblue;*/
  border-radius: 20px;
  padding: 10px;
  margin: 0 auto;
  font-size: 18px;
}

table td {
  padding-bottom: 7px;
  padding-top: 7px;
  width: 150px;
}

tr#header-row {
  background-color: steelblue;
  color: whitesmoke;
}

table th {
  padding: 12px;
}

td:nth-child(1), td:nth-child(5) {
  text-align: center;
}

tr:nth-child(odd) {
  background-color: rgba(128, 128, 128, 0.1);
}

tr.data-row {
  color: gray;
}